<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-md-8">
      <div class="card">
        <div class="header">
          <h4 class="title">Detalle de la Ave</h4>
        </div>
        <div class="content">
          <form #userForm="ngForm">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Alias</label>
                  <input name="alias" type="text" required [(ngModel)]="model.alias" class="form-control border-input" placeholder="Alias">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>No. Placa</label>
                  <input name="plate" type="number" required [(ngModel)]="model.plate" class="form-control border-input" placeholder="No. Placa">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Fecha de Nacimiento</label>
                  <input name="birth" type="text" [(ngModel)]="model.birth" class="form-control border-input" placeholder="Nacimiento">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Marca Distintiva</label>
                  <select name="scrath" type="text" [(ngModel)]="model.scrath" class="form-control border-input" placeholder="Marca">
                    <option *ngFor="let scrath of scrathes" [value]="scrath">{{scrath}}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Color de ave</label>
                  <select name="color" type="text" [(ngModel)]="model.color" required class="form-control border-input" placeholder="Color">
                    <option *ngFor="let color of colors">{{color}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Sexo</label>
                  <div class="radio">
                    <input type="radio" [(ngModel)]="model.sex" name="sex" id="sex1" value="macho" checked="">
                    <label for="sex1">
                      Macho
                    </label>
                  </div>
                  <div class="radio">
                    <input type="radio" [(ngModel)]="model.sex" name="sex" id="sex" value="hembra">
                    <label for="sex2">
                      Hembra
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Parentezco</label>
                  <select name="enrace" required [(ngModel)]="model.enrace" type="text" class="form-control border-input" placeholder="Enrace">
                    <option *ngFor="let enrace of enraces">{{enrace}}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Color de placa</label>
                  <select name="plateType" required [(ngModel)]="model.plateType" type="text" class="form-control border-input" placeholder="Enrace">
                    <option *ngFor="let plateType of plateTypes">{{plateType}}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Tipo Cresta</label>
                  <select name="cresta" type="text" required [(ngModel)]="model.crestType" class="form-control border-input" placeholder="Enrace">
                    <option *ngFor="let crest of crests">{{crest}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Estado</label>
                  <select name="estados" required type="text" [(ngModel)]="model.status" class="form-control border-input" placeholder="Enrace">
                    <option *ngFor="let status of statuses">{{status}}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4" *ngIf="model.status==='Muerto'">
                <div class="form-group">
                  <label>Fecha de muerte</label>
                  <input name="muerte" type="text" required [(ngModel)]="model.died" class="form-control border-input" placeholder="Enrace">
                </div>
              </div>
            </div>
            <hr>
            <div class="checkbox">
              <input name="parent" id="parientes" type="checkbox" [(ngModel)]="hasParents">
              <label for="parientes">
                Esta ave tiene parientes?
              </label>
            </div>

            <div class="row" *ngIf="hasParents">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Padre</label>
                  <select required name="padre" [(ngModel)]="model.fatherId" type="text" class="form-control border-input" placeholder="Padre">
                    <option *ngFor="let padre of padres">{{padre}}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Madre</label>
                  <select required name="madre" [(ngModel)]="model.motherId" type="text" class="form-control border-input" placeholder="Madre">
                    <option *ngFor="let madre of madres">{{madre}}</option>
                  </select>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Comentario</label>
                  <textarea class="form-control border-input" name="comment" [(ngModel)]="model.comment" placeholder="Comentario hacia el animal"></textarea>
                </div>
              </div>
            </div>
            <hr>
            <div class="text-center">
              <button type="submit" class="btn btn-info btn-fill btn-wd" [disabled]="!userForm.form.valid">Agregar Ave</button>
            </div>
            <div class="clearfix"></div>
          </form>
          {{model|json}}
        </div>
      </div>
    </div>
  </div>