<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-md-8">
      <div class="card">
        <div class="header">
          <h4 class="title">Detalle de la Ave</h4>
        </div>
        <div class="content">
          <form>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Alias</label>
                  <input name="alias" type="text" class="form-control border-input" placeholder="Alias">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>No. Placa</label>
                  <input name="plate" type="number" class="form-control border-input" placeholder="No. Placa">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Fecha de Nacimiento</label>
                  <input name="birth" type="text" class="form-control border-input" placeholder="Nacimiento">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Marca Distintiva</label>
                  <select name="scrath" type="text" class="form-control border-input" placeholder="Marca">
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Color de alas</label>
                  <select name="color" type="text" class="form-control border-input" placeholder="Color">
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Sexo</label>
                  <div class="radio">
                    <input type="radio" name="radio1" id="radio1" value="option1">
                    <label for="radio1">
                      Macho
                    </label>
                 </div>
               
                 <div class="radio">
                    <input type="radio" name="radio1" id="radio2" value="option2" checked="">
                    <label for="radio2">
                      Hembra
                    </label>
                 </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Enrace</label>
                  <select name="color" type="text" class="form-control border-input" placeholder="Enrace">
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Tipo Placa</label>
                  <select name="color" type="text" class="form-control border-input" placeholder="Enrace">
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Tipo Cresta</label>
                  <select name="color" type="text" class="form-control border-input" placeholder="Enrace">
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Estado</label>
                  <select name="color" type="text" class="form-control border-input" placeholder="Enrace">
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Fecha de muerte</label>
                  <input name="color" type="text" class="form-control border-input" placeholder="Enrace">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Comentario</label>
                  <textarea class="form-control border-input" placeholder="Comentario hacia el animal"></textarea>
                </div>
              </div>           
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-info btn-fill btn-wd" [disabled]="!userForm.form.valid">Agregar Ave</button>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>